<div id="headerwrap">
    <div class="container">
        <div class="row"> 
            <div class="col-md-12 himg">
                <img src="{{ "/assets/img/d4dmlogo.png" | prepend: site.baseurl }}" style="PADDING-BOTTOM: 5px; PADDING-TOP: 5px; height: 120px" class="img-responsive">     
                <div class="clear"><p style="font-size:40px; color:white; PADDING-BOTTOM: 15px; PADDING-TOP: 15px">Data for Decisions</p>
                <p style="font-size:20px; color:white; PADDING-BOTTOM: 15px; PADDING-TOP: 50px">Building the capabilities of research organizations, government ministries, and civil society organizations (CSOs) to more effectively use data in their decision-making processes. </p>
        </div>

            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
