<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>OUR SPONSOR</h3>
            <div class="row fix">
                <div class="col-lg-12">
                    <img src="{{ "/assets/img/tableau-logo-horizontal.jpg" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive">
                    <p>Data for Democracy is made possible by the generous support of the Tableau Foundation. An initiative led by the employees of Tableau Software, the Tableau Foundation encourages the use of facts and analytical reasoning to solve the world’s problems though fellowships that help non-profits build data capabilities from the grassroots up.</p>
                </div>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->
