{% comment %}
  Display syllabus in tabular form.
  Days are displayed if at least one episode has 'start = true'.
{% endcomment %}
<div class="syllabus">
  <h3 class="maintitle box-width">Table of Contents</h3>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text">Sr. No.</th>
            <th class="text">Module Name</th>
            <th class="text">Approx. Duration</th>
            <th class="text">Description</th>
            <th class="text">Download</th>
            <th class="text">Package Size - 3.5 MB</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text">
            <td>1</td>
            <td><a href="#">Overview</a></td>
            <td>1 hour</td>
            <td>This module will provide a high level overview of Data for Democracy Project</td>
            <td><a href="#">Link</a></td>
            <td>3.6 KB</td>           
          </tr>
          <tr class="text">
            <td>2</td>
            <td><a href="#">Module 1</a></td>
            <td> 2 hour</td>
            <td>Introduction to Data for Decision Making</td>
            <td><a href="#">Link</a></td>
            <td>2 MB</td>           
          </tr>
          <tr class="text">
            <td>3</td>
            <td><a href="#">Module 2</a></td>
            <td>3 hour</td>
            <td>Assessing Your Organization’s Data Culture</td>
            <td><a href="#">Link</a></td>
            <td>2 MB</td>           
          </tr>
          <tr class="text">
            <td>4</td>
            <td><a href="#">Module 3</a></td>
            <td>4 hour</td>
            <td>Introduction to the Data Lifecycle – Collecting Data</td>
            <td><a href="#">Link</a></td>
            <td>3 MB</td>           
          </tr>
          <tr class="text">
            <td>5</td>
            <td><a href="#">Module 4</a></td>
            <td>4 hour</td>
            <td>Introduction to the Data Lifecycle – Analyzing and Sharing Data</td>
            <td><a href="#">Link</a></td>
            <td>4 MB</td>           
          </tr>
          <tr class="text">
            <td>6</td>
            <td><a href="#">Module 5</a></td>
            <td>4 hour</td>
            <td>Applying Data for Decision Making to Your Organization, Part 1</td>
            <td><a href="#">Link</a></td>
            <td>4 MB</td>           
          </tr>
          <tr class="text">
            <td>7</td>
            <td><a href="#">Module 6</a></td>
            <td>4 hour</td>
            <td>Applying Data for Decision Making to Your Organization, Part 2</td>
            <td><a href="#">Link</a></td>
            <td>4 MB</td>           
          </tr>
          </tbody>
    </table>


  <p>
    The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
  </p>

  </div>